<h1 class="text-center display-4">Nouvel utilisateur</h1>
<div class="col-12">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset class="form-group">
      <label for="firstName">Prénom</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
      <label for="lastName">Nom</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </fieldset>
    <fieldset class="form-group">
      <label for="team">Team</label>
      <select id="team" class="form-control" formControlName="team">
        <option value="Dev Team">Dev Team</option>
        <option value="Product Owner">Product Owner</option>
        <option value="Scrum Master">Scrum Master</option>
        <option value="Stakeholders">Stkeholders</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <div formArrayName="skills">
        <p>Compétences</p>
        <div class="form-group" *ngFor="let skillControl of getSkills().controls; let i = index">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddSkill()">+</button>
        <button *ngIf="getSkills().length>0" type="button" class="btn btn-danger" (click)="onRemoveSkill()">-</button>
      </div>
    </fieldset>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Enregistrer</button>
  </form>
</div>